
.footer{
  display: grid;
 align-items: center;
 text-align: center;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 125px  100px ;
  width:100%;
  background-color:$clover;


  .social-content{
    background-color:#afde95;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3, 33%);


    
  &__text {
    margin:15px ;
    font-size: 35px;
    color:$cafe;
    display: inline-flex;
    text-shadow: 1px 2px $creme-page, -1px 1px white, 1px -1px $creme-page, -1px -1px white;
  }
  &__icon {
      height: 40px;
      width: 40px;
      margin-bottom: 15px;
  }

  &__copyright{
      color: $darkblue;
      font-size: 15px;
      grid-column: 1/4;
  }
}
  .container-footer{
    grid-column: 1/4;
  }

  &__dots{
   background-color: $cafe;
   border-radius:50% ;
    height:25px;
    width:25px;
    margin-right: 20px;
    display: inline-flex;
    box-shadow: 1px 2px $creme-page, -1px 1px white, 1px -1px $creme-page, -1px -1px white;
  }

  &__nav{
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    grid-column: 1/4;
  }

  &__text{
    font-size: 45px;
    color:$cafe;
    font-weight: 300;
    text-shadow: 1px 2px $creme-page, -1px 1px white, 1px -1px $creme-page, -1px -1px white;
    text-decoration: none;
  }
}


  
@media only screen and (max-width: 568px) {
  .footer{
    grid-template-rows: 100px  100px ;
    .social-content{
    &__text {
      margin:10px ;
      font-size: 20px;
    }

    &__icon {
      height: 30px;
      width: 30px;
  }
  }

  
    &__dots{
      height:15px;
      width:15px;
      margin-right: 10px;
    }
  
    &__text{
      font-size: 20px;
    }
}
}