
.footer{
  display: grid;
 align-items: center;
 text-align: center;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 125px  100px ;
  width:100%;
  background-color:$clover;


  .social-content{
    background-color:#afde95;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3, 33%);


    
  &__text {
    margin:15px ;
    font-size: 35px;
    color:$cafe;
    display: inline-flex;
  }
  &__icon {
      height: 40px;
      width: 40px;
      margin-bottom: 15px;
  }

  &__copyright{
      color: $darkblue;
      font-size: 15px;
      grid-column: 1/4;
  }
}
  .container-footer{
    grid-column: 1/4;
  }

  &__dots{
   background-color: $cafe;
   border-radius:50% ;
    height:25px;
    width:25px;
    margin-right: 20px;
    display: inline-flex;
  }
}


  
@media only screen and (max-width: 568px) {

    .footer__icon {
      height: 35px;
      width: 35px;
    }
}